.articulo4{
    border: 1px solid grey;
    border-top: 5px solid rgb(46, 46, 158);
    padding: 0.5rem;
    text-align: right;
    margin-top: 1rem;
}
.articulo__h2{
    text-align: center;
}
.articulo__p{
   font-size: 1.2rem;
   text-align: left;
}
.articulo__img{
    text-align: right;
}
